In [2]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('/Users/Elizabeth.Schwandt/Desktop/test.csv'))

data.head()

        Name  Count
0  Elizabeth      6
1       John      7
2       Ryan      8
3     Ashley      9
4        Jim     10

In [3]:
%pwd

u'/Users/Elizabeth.Schwandt/Desktop/Data_Science/ds-sf-29'

In [6]:
yelp_data = pd.read_csv('Users/Elizabeth.Schwandt/Desktop/Data_Science/ds-sf-29/data/yelp.csv', encoding=latin-1)

NameError: name 'latin' is not defined