In [7]:
import numpy as np
import pandas as pd
from scipy import stats

In [ ]:
#new hypothesis test
#How long does it take you to get ready in the morining? 
#H0 - It takes at least 18 minutes for the average person to get ready in the morning
#H1 - It does not take 18 minutes for the average person to get ready in the morning

In [8]:
avg_morn = [14,45,23,43,0,0,19,22,3,7,11,12,34,18,18,45]

In [15]:
df = pd.DataFrame()
df['Average_Morning'] = avg_morn
df

    Average_Morning
0                14
1                45
2                23
3                43
4                 0
5                 0
6                19
7                22
8                 3
9                 7
10               11
11               12
12               34
13               18
14               18
15               45

In [16]:
df.describe()

       Average_Morning
count        16.000000
mean         19.625000
std          15.129992
min           0.000000
25%          10.000000
50%          18.000000
75%          25.750000
max          45.000000

In [17]:
stats.ttest_1samp(df['Average_Morning'],18)

Ttest_1sampResult(statistic=0.42961026521506446, pvalue=0.67358648037890578)

In [ ]:
#We do not reject the H0 hypoth because the pvalue is > 0.05.