In [48]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

%matplotlib inline

In [61]:
#Commute example - What is your daily commute 1 way?
data1 = [25,22,60,45,60]
data2 = [100,20,90,40,65]

In [62]:
df = pd.DataFrame()
df['Right'] = data1
df['Left']= data2

df

   Right  Left
0     25   100
1     22    20
2     60    90
3     45    40
4     60    65

In [63]:
stats.ttest_ind(data1,data2)
# We do not reject null hypothesis because .26 > .05

Ttest_indResult(statistic=-1.2070542729527385, pvalue=0.26188702863273339)

In [52]:
np.mean([data1])

35.333333333333336

In [53]:
np.mean([data2])

nan

In [54]:
#Vegetarian Example - 17% of world population is vegetarian
vegetarian = [4]
non_vegetarian = [9]

In [55]:
df = pd.DataFrame()
df['Vegetarian'] = vegetarian
df['Not_Vegetarian'] = non_vegetarian

df

   Vegetarian  Not_Vegetarian
0           4               9

In [56]:
4/13.0

0.3076923076923077

In [66]:
veg_test = [1,1,1,1,0,0,0,0,0,0,0,0,0]
df = pd.DataFrame()
df['Vegetarian'] = veg_test

df

    Vegetarian
0            1
1            1
2            1
3            1
4            0
5            0
6            0
7            0
8            0
9            0
10           0
11           0
12           0

In [58]:
df.describe()

       Vegetarian
count   13.000000
mean     0.307692
std      0.480384
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [67]:
stats.ttest_1samp(df['Vegetarian'], .17)
# We do not reject null hypothesis because .3217 > .05
# .17 is the hypothesis mean

Ttest_1sampResult(statistic=1.0334569818494301, pvalue=0.32176906413037798)

In [68]:
#Confidence Interval
data1 = [5,1,3,3,1,3,3,2,4,3,4,2,3]

In [69]:
df = pd.DataFrame()
df['Con_Int'] = data1
df

    Con_Int
0         5
1         1
2         3
3         3
4         1
5         3
6         3
7         2
8         4
9         3
10        4
11        2
12        3

In [77]:
df.mean()

Con_Int    2.846154
dtype: float64

In [79]:
stats.sigmaclip(df)

SigmaclipResult(clipped=array([5, 1, 3, 3, 1, 3, 3, 2, 4, 3, 4, 2, 3]), lower=-1.5485713406417534, upper=7.2408790329494455)

In [70]:
stats.norm.interval(0.68, loc=2.846154, scale=sigma/sqrt(13))

NameError: name 'mu' is not defined

In [72]:
df.describe()

         Con_Int
count  13.000000
mean    2.846154
std     1.143544
min     1.000000
25%     2.000000
50%     3.000000
75%     3.000000
max     5.000000

In [74]:
stats.ttest_1samp(df['Con_Int'], 2.8)

Ttest_1sampResult(statistic=0.14552137502180065, pvalue=0.886715025671174)