In [1]:
#imports
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pylab as pl
import numpy as np
%matplotlib inline

In [2]:
#Read in data from source 
df_raw = pd.read_csv("../assets/admissions.csv")
print df_raw.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [5]:
df_missingna = df_raw.dropna()
df_missingna[:5]

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

In [6]:
df_missingna.describe()

            admit         gre         gpa    prestige
count  397.000000  397.000000  397.000000  397.000000
mean     0.317380  587.858942    3.392242    2.488665
std      0.466044  115.717787    0.380208    0.947083
min      0.000000  220.000000    2.260000    1.000000
25%      0.000000  520.000000    3.130000    2.000000
50%      0.000000  580.000000    3.400000    2.000000
75%      1.000000  660.000000    3.670000    3.000000
max      1.000000  800.000000    4.000000    4.000000

In [13]:
admit_gpa = pd.crosstab(index=df_missingna['gpa'],
                            columns=df_missingna['admit'])
admit_gpa.describe()

admit           0           1
count  131.000000  131.000000
mean     2.068702    0.961832
std      1.857173    1.405509
min      0.000000    0.000000
25%      1.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max     15.000000   13.000000

In [14]:
admit_gre = pd.crosstab(index=df_missingna['gre'],
                       columns=df_missingna['admit'])

admit_gre.describe()

admit          0          1
count  26.000000  26.000000
mean   10.423077   4.846154
std     6.242904   3.812530
min     1.000000   0.000000
25%     7.000000   2.000000
50%     9.500000   4.000000
75%    15.500000   8.250000
max    22.000000  12.000000