In [22]:
'''
Class 2 Lab
'''

# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
# read in the CSV file from a URL
drinks = pd.read_csv('../data/drinks.csv', na_filter=False)

In [4]:
# 1. Show the first 17 rows of drinks
drinks[:17]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NA
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NA
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NA
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU

In [38]:
# 2. create a variable called beer_servings and use it to store the beer_servings column

In [40]:
# 3. Display a dataframe where the only rows are those with continent North America
is_na = drinks[drinks['continent'] == 'NA']
print drinks

TypeError: 'bool' object has no attribute '__getitem__'

In [ ]:
# 4. Create a new dataframe called north_america that holds your answer in 1.
# drinks (the dataframe) should remain unchanged

In [21]:
# 5. What is the average wine consumption per person per year in Africa?
drinks['continent']=='AF'
drinks.mean()
print drinks

                  country  beer_servings  spirit_servings  wine_servings  \
0             Afghanistan              0                0              0
1                 Albania             89              132             54
2                 Algeria             25                0             14
3                 Andorra            245              138            312
4                  Angola            217               57             45
5       Antigua & Barbuda            102              128             45
6               Argentina            193               25            221
7                 Armenia             21              179             11
8               Australia            261               72            212
9                 Austria            279               75            191
10             Azerbaijan             21               46              5
11                Bahamas            122              176             51
12                Bahrain             42               63              7
13             Bangladesh              0                0              0
14               Barbados            143              173             36
15                Belarus            142              373             42
16                Belgium            295               84            212
17                 Belize            263              114              8
18                  Benin             34                4             13
19                 Bhutan             23                0              0
20                Bolivia            167               41              8
21     Bosnia-Herzegovina             76              173              8
22               Botswana            173               35             35
23                 Brazil            245              145             16
24                 Brunei             31                2              1
25               Bulgaria            231              252             94
26           Burkina Faso             25                7              7
27                Burundi             88                0              0
28          Cote d'Ivoire             37                1              7
29             Cabo Verde            144               56             16
..                    ...            ...              ...            ...
163              Suriname            128              178              7
164             Swaziland             90                2              2
165                Sweden            152               60            186
166           Switzerland            185              100            280
167                 Syria              5               35             16
168            Tajikistan              2               15              0
169              Thailand             99              258              1
170             Macedonia            106               27             86
171           Timor-Leste              1                1              4
172                  Togo             36                2             19
173                 Tonga             36               21              5
174     Trinidad & Tobago            197              156              7
175               Tunisia             51                3             20
176                Turkey             51               22              7
177          Turkmenistan             19               71             32
178                Tuvalu              6               41              9
179                Uganda             45                9              0
180               Ukraine            206              237             45
181  United Arab Emirates             16              135              5
182        United Kingdom            219              126            195
183              Tanzania             36                6              1
184                   USA            249              158             84
185               Uruguay            115               35            220
186            Uzbekistan             25              101              8
187               Vanuatu             21               18             11
188             Venezuela            333              100              3
189               Vietnam            111                2              1
190                 Yemen              6                0              0
191                Zambia             32               19              4
192              Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
5                             4.9        NA
6                             8.3        SA
7                             3.8        EU
8                            10.4        OC
9                             9.7        EU
10                            1.3        EU
11                            6.3        NA
12                            2.0        AS
13                            0.0        AS
14                            6.3        NA
15                           14.4        EU
16                           10.5        EU
17                            6.8        NA
18                            1.1        AF
19                            0.4        AS
20                            3.8        SA
21                            4.6        EU
22                            5.4        AF
23                            7.2        SA
24                            0.6        AS
25                           10.3        EU
26                            4.3        AF
27                            6.3        AF
28                            4.0        AF
29                            4.0        AF
..                            ...       ...
163                           5.6        SA
164                           4.7        AF
165                           7.2        EU
166                          10.2        EU
167                           1.0        AS
168                           0.3        AS
169                           6.4        AS
170                           3.9        EU
171                           0.1        AS
172                           1.3        AF
173                           1.1        OC
174                           6.4        NA
175                           1.3        AF
176                           1.4        AS
177                           2.2        AS
178                           1.0        OC
179                           8.3        AF
180                           8.9        EU
181                           2.8        AS
182                          10.4        EU
183                           5.7        AF
184                           8.7        NA
185                           6.6        SA
186                           2.4        AS
187                           0.9        OC
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

In [ ]:
# 6. Create a scatter plot between spirit servings and wine servings of all countries

In [16]:
# 7. Show a list of the top 10 spirit drinking countries 
# (show only country names and spirit servings)
drinks.sort ['spirit_servings']
drinks [:10]

TypeError: 'instancemethod' object has no attribute '__getitem__'

In [ ]:
# 8. Plot 6 histograms of wine servings by continent, 
# remember to share x and share y axis scales!

In [29]:
# 9. What is the average wine consumption in South America?
drinks = ['continent'] == 'SA'
print drinks

False

In [2]:
# 10. Which continent has the highest on average wine consumption?

In [41]:
highest_wine = drinks.sort(['wine_servings'])
highest_wine [:1]

AttributeError: 'bool' object has no attribute 'sort'