# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [1]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', '..', 'assets', 'dataset', 'ozone.csv'))

In [2]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [7]:
print data.columns

Index([u'Ozone', u'Solar.R', u'Wind', u'Temp', u'Month', u'Day'], dtype='object')

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [23]:
print data[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [35]:
print len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [39]:
print data[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

How many missing values are in the Ozone column of this data frame?

In [46]:
print data.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [108]:
data.dropna(axis=1, how='any')
data['Ozone'].mean()

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [111]:
is_high_ozone = data['Ozone']>31
is_high_temp = data['Temp']>90
print is_high_ozone & is_high_temp

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
123     True
124     True
125     True
126     True
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
dtype: bool

What is the mean of "Temp" when "Month" is equal to 6?

In [116]:
is_temp = data['Temp']==6.0
is_temp.mean

<bound method Series.mean of 0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
Name: Temp, dtype: bool>

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [126]:
data['Ozone']
data['Month'] == 5
data.max()

SyntaxError: invalid syntax (<ipython-input-126-a95a5beeca28>, line 1)

In [88]:
names = ['Bob','Jessica','Mel','Mary','John']
births = [105,567,34,958,675]
BabyDataSet = list(zip(names,births))
print BabyDataSet

[('Bob', 105), ('Jessica', 567), ('Mel', 34), ('Mary', 958), ('John', 675)]

In [94]:
df = pd.DataFrame(data = BabyDataSet, columns =['Names','Births'])
df
df.to_csv

<bound method DataFrame.to_csv of      Names  Births
0      Bob     105
1  Jessica     567
2      Mel      34
3     Mary     958
4     John     675>

In [96]:
df.dtypes

Names     object
Births     int64
dtype: object

In [98]:
Sorted = df.sort_values(['Births'],ascending=False)
Sorted.head(1)

  Names  Births
3  Mary     958

In [100]:
df['Births'].max()

958

In [105]:
df['Births'].plot()
MaxValue = df['Births'].max()
MaxName = df['Names'][df['Births']==df['Births'].max()].values
Text = str(MaxValue) + "-" + 'Names'
plt.annotate(Text, xy=(1, MaxValue), xytext=(8, 0), 
                 xycoords=('axes fraction', 'data'), textcoords='offset points')
print("The most popular name")
df[df['Births'] == df['Births'].max()]

NameError: name 'plt' is not defined

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas